In [2]:
import pandas as pd
import numpy as np

In [26]:
# 1. Load the Dataset
df = pd.read_csv('/content/drive/MyDrive/Fotos/cars.csv')

# 2. Inspect the Dataset
print(df.head())
print(df.dtypes)

          Unnamed: 0   mpg  cyl   disp     hp  drat     wt   qsec  vs  am  \
0          Mazda RX4  21.0    6  160.0  110.0  3.90  2.620  16.46   0   1
1      Mazda RX4 Wag  21.0    6  160.0    NaN  3.90  2.875  17.02   0   1
2         Datsun 710  22.8    4  108.0   93.0  3.85  2.320  18.61   1   1
3     Hornet 4 Drive  21.4    6  258.0  110.0  3.08  3.215  19.44   1   0
4  Hornet Sportabout  18.7    8  360.0  175.0  3.15  3.440  17.02   0   0

   gear  carb
0     4     4
1     4     4
2     4     1
3     3     1
4     3     2
Unnamed: 0     object
mpg           float64
cyl             int64
disp          float64
hp            float64
drat          float64
wt            float64
qsec          float64
vs              int64
am              int64
gear            int64
carb            int64
dtype: object

In [27]:
# para saber cuantos valores nulos hay
a = df.isnull().sum()
print(a)

Unnamed: 0    0
mpg           0
cyl           0
disp          0
hp            5
drat          0
wt            0
qsec          0
vs            0
am            0
gear          0
carb          0
dtype: int64

In [28]:
# 3. Handle Missing Values
df['hp'].fillna(df['hp'].mean(), inplace=True)
df.dropna(subset=['hp'], inplace=True)

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         32 non-null     int64
 3   disp        32 non-null     float64
 4   hp          32 non-null     float64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        32 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     int64
 10  gear        32 non-null     int64
 11  carb        32 non-null     int64
dtypes: float64(6), int64(5), object(1)
memory usage: 3.1+ KB
None

In [30]:

# 4. Filter Data
df_filtered = df[df['cyl'] == 6]
print(df_filtered)

        Unnamed: 0   mpg  cyl   disp          hp  drat     wt   qsec  vs  am  \
0        Mazda RX4  21.0    6  160.0  110.000000  3.90  2.620  16.46   0   1
1    Mazda RX4 Wag  21.0    6  160.0  151.074074  3.90  2.875  17.02   0   1
3   Hornet 4 Drive  21.4    6  258.0  110.000000  3.08  3.215  19.44   1   0
5          Valiant  18.1    6  225.0  105.000000  2.76  3.460  20.22   1   0
9         Merc 280  19.2    6  167.6  123.000000  3.92  3.440  18.30   1   0
10       Merc 280C  17.8    6  167.6  123.000000  3.92  3.440  18.90   1   0
29    Ferrari Dino  19.7    6  145.0  175.000000  3.62  2.770  15.50   0   1

    gear  carb
0      4     4
1      4     4
3      3     1
5      3     1
9      4     4
10     4     4
29     5     6

In [33]:
# 5. Transform Columns
def categorize_hp(hp):
    if hp > 150:
        return 'High'
    elif hp > 80:
        return 'Medium'
    else:
        return 'Low'

df_filtered['HP_Category'] = df_filtered['hp'].apply(categorize_hp)

<ipython-input-33-5531d2a34ef2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['HP_Category'] = df_filtered['hp'].apply(categorize_hp)

In [34]:
print(df_filtered)

        Unnamed: 0   mpg  cyl   disp          hp  drat     wt   qsec  vs  am  \
0        Mazda RX4  21.0    6  160.0  110.000000  3.90  2.620  16.46   0   1
1    Mazda RX4 Wag  21.0    6  160.0  151.074074  3.90  2.875  17.02   0   1
3   Hornet 4 Drive  21.4    6  258.0  110.000000  3.08  3.215  19.44   1   0
5          Valiant  18.1    6  225.0  105.000000  2.76  3.460  20.22   1   0
9         Merc 280  19.2    6  167.6  123.000000  3.92  3.440  18.30   1   0
10       Merc 280C  17.8    6  167.6  123.000000  3.92  3.440  18.90   1   0
29    Ferrari Dino  19.7    6  145.0  175.000000  3.62  2.770  15.50   0   1

    gear  carb HP_Category
0      4     4      Medium
1      4     4        High
3      3     1      Medium
5      3     1      Medium
9      4     4      Medium
10     4     4      Medium
29     5     6        High

In [35]:
# 6. Save the Cleaned Dataset
df_filtered.to_csv('.\dataset\cleaned_cars_dataset.csv', index=False)

print("Data cleaning and preparation complete. The cleaned dataset is saved as 'cleaned_cars_dataset.csv'.")

Data cleaning and preparation complete. The cleaned dataset is saved as 'cleaned_cars_dataset.csv'.